[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "llbayesireg"]
	path = llbayesireg
	url = https://github.com/cran/llbayesireg
[submodule "llogistic"]
	path = llogistic
	url = https://github.com/cran/llogistic
